@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html{
  background-color: #09090b;
}
body {
  color: #fafafa;
  background: #09090b;
}
.herograd{
  background-color: rgb(24, 24, 27);
  background-image: radial-gradient(at 100% 100%, #09090b 0, transparent 70%), radial-gradient(at 84% 35%, rgb(112, 26, 117) 0, transparent 58%), radial-gradient(at 91% 0%, rgb(2, 132, 199) 0, transparent 51%), radial-gradient(at 10% 97%, #09090b 0, transparent 100%), radial-gradient(at 45% 13%, rgb(154, 52, 18) 0, transparent 50%);
}
.layoutgrad{
  background-color: rgb(24, 24, 27);
  background-image: radial-gradient(at 100% 100%, rgb(24, 24, 27) 0, transparent 70%), radial-gradient(at 84% 35%, rgb(112, 26, 117) 0, transparent 58%), radial-gradient(at 91% 0%, rgb(2, 132, 199) 0, transparent 51%), radial-gradient(at 10% 97%, rgb(24, 24, 27) 0, transparent 100%), radial-gradient(at 45% 13%, rgb(154, 52, 18) 0, transparent 50%);
}
@layer utilities{
  .flexCenter{
    @apply flex items-center justify-center;
  }
  .flexBetween{
    @apply flex items-center justify-between;
  }
  .flexColCenter{
    @apply flex flex-col items-center justify-center;
  }
  .card-variants-1{
    background-color: rgb(49, 46, 129);
    background-image: radial-gradient(at 88% 9%, rgb(192, 38, 211) 0, transparent 61%), radial-gradient(at 22% 90%, rgb(59, 130, 246) 0, transparent 47%);
  }
  .containers-center{
    @apply max-w-screen-xl mx-auto px-[1rem]
  }
  .stylingNav{
    @apply px-4 py-2 rounded-full border border-zinc-500/30 hover:bg-yellow-500 hover:scale-[0.95] hover:text-zinc-900 transition-all ease-in-out tracking-wide self-stretch;
  }
}