@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fafafa;
  background: #0a0a0a;
}

@layer utilities{
  .flexCenter{
    @apply flex items-center justify-center
  }
  .flexBetween{
    @apply flex items-center justify-between
  }
  .flexColCenter{
    @apply flex flex-col items-center justify-center
  }
  .card-variants-1{
    background-color: rgb(49, 46, 129);
    background-image: radial-gradient(at 88% 9%, rgb(192, 38, 211) 0, transparent 61%), radial-gradient(at 22% 90%, rgb(59, 130, 246) 0, transparent 47%);
  }
  .containers-center{
    @apply max-w-screen-xl mx-auto px-[1rem]
  }
}